@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.all_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://i.ibb.co/gF62CYS/97a03d3c497578e66516e836d4151891.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.current_count {
  font-family: "EB Garamond", serif;
  letter-spacing: 0.2vw;
  font-weight: 500;
  margin: 0;
  padding: 10px 15px 13px 15px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #614a4b;
}

.time_and_count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  color: ivory;
  padding-bottom: 2%;
}

.time {
  color: #614a4b;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.2vw;
  font-weight: 500;
  margin: 0;
  padding: 10px 15px 13px 15px;
  font-size: 1.2em;
}

.newgame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: ivory;
  font-size: 1em;
  margin: 0 1vw 0 0;
  padding: 1vh 1vw 1vh 1vw;
  background-color: #725963;
  border-radius: 5px;
  border: 2px solid #592f45;
  font-family: monospace;
  letter-spacing: 0.1vw;
  font-weight: 500;
  overflow: hidden;
  height: 5vh;
  width: 8vw;
}

.newgame:hover {
  cursor: pointer;
}

.heading_and_newgame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  padding: 2% 0 0 0;
}

.images_easy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4%;
  width: 55%;
  height: 100%;
  margin: 0 0 10% 0;
  padding: 0;
  place-items: center;
}

.images_medium {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5%;

  width: 70%;
  height: 100%;
  margin: 0 0 10% 0;
  padding: 0;
  place-items: center;
}

.images_hard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1%;
  row-gap: 5%;
  width: 90%;
  height: 100%;
  margin: 0 0 10% 0;
  padding: 0;
  place-items: center;
}

.img_easy:hover,
.img_medium:hover,
.img_hard:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 3.5%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "EB Garamond", serif;
}

.intro_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  background-color: ivory;
  margin: 7% auto;
  padding: 2vh 3vw 3vh 3vw;
  width: 55vw;
  height: 68vh;
  border-radius: 20px;
  border: 4px solid black;
  box-shadow: 0 0 200px black;
  text-align: center;
  color: black;
}

.intro_modal_words {
  font-weight: 400;
  font-family: "EB Garamond", serif;
  font-size: 2vw;
  margin: 0;
}

.intro_modal_words_two {
  font-size: 2.5vh;
  font-weight: 500;
  font-family: "EB Garamond", serif;
  margin: 0;
}

.button_intro {
  width: 7.8vw;
  height: 5.5vh;
  background-color: black;
  border-radius: 10px;
  color: ivory;
  font-family: "EB Garamond", serif;
  font-size: 2.1vh;
  border: black;
}

.modal_lose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  margin: 10% auto;
  width: 43vw;
  height: 40vh;
  text-align: center;
  font-size: 3.3vh;
  font-weight: bolder;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.901);
  box-shadow: 0 0 200px black;
}

.modal_lose_words {
  font-size: 2vw;
}

.img_hard {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  width: 13vw;
  height: 30vh;
  object-fit: inherit;
  transition: transform 0.2s;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

.img_medium {
  width: 13vw;
  height: 30vh;
  object-fit: inherit;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.img_easy {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  width: 13vw;
  height: 30vh;
  object-fit: inherit;
  transition: transform 0.2s;
  margin: 0;
  padding: 0;
}

.modal_win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  margin: 10% auto;
  padding: 2.2vh 0 3.5vh 0;
  width: 43vw;
  height: 50vh;
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;
  border: 4px solid black;
  box-shadow: 0 0 200px black;
}

.success_words {
  font-size: 3.2vh;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.success_words_individual {
  padding: 1vh;
  margin: 0;
}

.faster {
  font-size: 3.1vh;
  padding: 3vh 0 3vh 0;
  margin: 0;
}

.difficulty_page {
  font-size: 2vw;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  margin: 0;
  margin: 3vh 0 1vh 0;
}

.buttons_page {
  margin: 0 1vw 0 1vw;
}

@media (max-width: 600px) {
  .all_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: 100%;
    height: 100vh;
    background-image: url("https://i.ibb.co/gznZsnV/97a03d3c497578e66516e836d4151891.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: 90%;
    height: 20%;
    margin: 1vh 0 0 0;
    padding: 0;
  }

  .current_count {
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px 0px 15px;
  }

  .time_and_count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    color: ivory;
    padding-bottom: 2%;
  }

  .time {
    margin: 0;
    padding: 10px 15px 0px 15px;
    font-size: 1.2em;
    text-align: center;
  }

  .newgame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: ivory;
    font-size: 3vw;
    margin: 0 1vw 0 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #592f45;
    font-family: monospace;
    letter-spacing: 0.1vw;
    font-weight: 500;
    overflow: hidden;
    height: 3vh;
    width: 25vw;
  }

  .newgame:hover {
    cursor: pointer;
  }

  .heading_and_newgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 90%;
    padding: 2% 0 0 0;
  }

  .images_easy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4%;
    width: 100%;
    height: 50vh;
    margin: 0 0 45% 0;
    padding: 0;
    place-items: center;
  }

  .images_hard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1%;
    row-gap: 1%;
    width: 95%;
    height: 70%;
    margin: 0 0 10% 0;
    padding: 0;
    place-items: center;
  }

  .img_easy:hover,
  .img_medium:hover,
  .img_hard:hover {
    transform: scale(1.1);
  }

  .modal {
    padding-top: 25%;
  }

  .intro_modal {
    padding: 2vh 3vw 3vh 3vw;
    width: 80vw;
    height: 68vh;
    border: 2px solid black;
    text-align: center;
    color: black;
  }

  .intro_modal_words {
    font-weight: 400;
    font-size: 4vw;
    margin: 0;
  }

  .intro_modal_words_two {
    font-size: 2.5vh;
    font-weight: 500;
    font-family: "EB Garamond", serif;
    margin: 0;
  }

  .button_intro {
    width: 7.8vw;
    height: 5.5vh;
    background-color: black;
    border-radius: 10px;
    color: ivory;
    font-family: "EB Garamond", serif;
    font-size: 2.1vh;
    border: black;
  }

  .modal_lose {
    width: 83vw;
    height: 50vh;
    font-size: 3.3vh;
    font-weight: bolder;
    border: 2px solid rgba(0, 0, 0, 0.901);
  }

  /*  */
  .modal_lose_words {
    font-size: 5vw;
  }

  .img_hard {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
    width: 25vw;
    height: 16vh;
    object-fit: inherit;
    transition: transform 0.2s;
    margin: 0;
    padding: 0;
    border-radius: 3px;
  }

  .images_medium {
    display: flex;
    flex-wrap: wrap; /* Wrap items to next row when needed */
    justify-content: center; /* Center items horizontally */
    align-items: center;
    width: 95%;
    height: auto;
    margin: 0 0 40% 0;
    padding: 0;
    place-items: center;
  }

  .img_medium {
    width: 25vw;
    height: 16vh;
    object-fit: inherit;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s;
    margin: 2vh 2vw 2vh 2vw;
    padding: 0;
    border-radius: 3px;
  }

  .img_easy {
    width: 28vw;
    height: 20vh;
    object-fit: inherit;
    transition: transform 0.2s;
    margin: 0;
    padding: 0;
  }

  .modal_win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ivory;
    margin: 10% auto;
    padding: 2.2vh 0 3.5vh 0;
    width: 43vw;
    height: 50vh;
    text-align: center;
    font-weight: bolder;
    border-radius: 20px;
    border: 4px solid black;
    box-shadow: 0 0 200px black;
  }

  .success_words {
    font-size: 3.2vh;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .success_words_individual {
    padding: 1vh;
    margin: 0;
  }

  .faster {
    font-size: 3.1vh;
    padding: 3vh 0 3vh 0;
    margin: 0;
  }

  .difficulty_page {
    font-size: 4vw;
    font-weight: 700;
    margin: 2vh 0 1vh 0;
  }

  .difficulty_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }

  .buttons_page {
    margin: 0 1vw 0 1vw;
    width: 50vw;
    font-size: 2vh;
  }
}
